@import "reset.css";
@import "common.css";

body{
    width: 100%;
    min-width: 1500px;
}
/* 头部 */
.header .container{
    width: auto;
    height: 130px;
    box-shadow: 0px 0px 3px 3px #aaa;
}
.header .container .shangbu{
    background-color:  rgb(80, 134, 46);
    width: auto;
    height: 40px;
}

.header .container .shangbu .huanying a span.guanwang{
    color: aliceblue;
    display:block;
    margin-top: 10px;
    margin-left:70px;
}
.header .container .shangbu .dianhua a span.rexian{
    color: aliceblue;
    display:block;
    margin-top: 10px;
    margin-right:70px;
}

.header .container .xiabu {
    width:auto;
    height:90px;
    background-color: #00000000;
    box-sizing: border-box;
}
.header .container .xiabu span{
    display: block;
}

.header .container .xiabu .gongsibiao img{
    width:50px;
    height:50px;
    margin-left: 50px;
    margin-top: 20px;
}

.header .container .xiabu .mingzi{
    margin-left: 100px;
    margin-top:-40px;
}

.header .container .xiabu .mingziying{
    margin-left: 100px;
    margin-top:1px;
    font-size:3px;
}

.header .container .menu{
    width: 270px;
    height: 20px;
}
.header .container .menu a{
    float:left;
}

.header .container .menu span{
    font-size: larger;
    display: block;
}

.header .container .menu .menu-firstpage{
    width: 80px;
    height: 20px;
    float:left;
    margin-left: -800px;
    margin-top:-50px;
}

.header .container .menu .menu-us{
    width: 80px;
    height: 20px;
    float:left;
    margin-left: -690px;
    margin-top:-50px;
}
.header .container .menu .menu-center{
    width: 80px;
    height: 20px;
    float:left;
    margin-left: -580px;
    margin-top:-50px;
    
}
.header .container .menu .menu-case{
    width: 80px;
    height: 20px;
    float:left;
    margin-left: -470px;
    margin-top:-50px;
}
.header .container .menu .menu-purchase{
    width: 80px;
    height: 20px;
    float:left;
    margin-left: -360px;
    margin-top:-50px;
}
.header .container .menu .menu-contact{
    width: 80px;
    height:20px;
    float:left;
    margin-left: -250px;
    margin-top:-50px;
}
.header .container .menu a img{
    width:85px;
    height:45px;
    margin-top:-50px;
}
.header .container .menu a:hover span{
    color:#00000031;
}
/* 头部结束 */
.bod{
    width: auto;
    height: 1213px;
    margin-top: 3px;
    background-color: rgb(234, 234, 234);
}
.bod .chan{
    width: 900px;
    height: 1213px;
    margin-left: 300px;
    background-color:white;
    padding-top: 1px;
}
.bod .chan .t{
    background-color: rgb(239, 239, 239);
    width: 100px;
    height: 45px;
    margin-bottom: -45px;
    margin-left: 6px;
}
.bod .chan .t h1{
    font-size: 20px;
    color: rgb(63, 59, 59);
    font-weight:39px;
    line-height: 45px;
    margin-left: 8px;

}
/* 轮播图 */
.shell{
    width: 500px;
    height: 350px;
    position:relative;
    overflow-x: hidden; 
    margin-top: 50px;
    border:100px;
    margin-left: 8px;
 
}
.images{
    width:300%;
    height: 100%;
    display:flex;
    position:absolute;
    left:0;
    transition: .2s;

}
.img{
    width:100%;
    height: 99%;
    background-size: cover;
}
.img img{
    width: 100%;
    height: 100%;
}
.button{
    width: 100%;
    height: 50%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    user-select: none;
    margin-top: 130px;
}
.button-left,.button-right{
    font-style: 60px;
    background-color: rgba(61, 65, 62, 0.7);
    padding:0 20px;
    line-height:50px;
    cursor: pointer;
    width: 1px;
    height: 50px;
    font-weight: bolder;


}
/* 结束 */
/* 标题 */
.title{
    width: 355px;
    height: 350px;
    margin-left: 520px;
    margin-top: -340px;
   
}
.title h1{
    font-size: 18px;
    line-height: 40px;
    font-weight:50px;
    font-style: oblique;
    padding-bottom: 10px;
    text-decoration: underline 0.5px;
}

.anli{
    
    height: 400px;
    width: 100%;
    border-top: 1px solid rgb(205, 205, 205);
}
.anli img{
    height:300px ;
    width: 280px;
    margin-left: 600px;
    margin-top: 50px;
}
.anli .wenzi{
    width: 545px;
    height: 400px;
   
    margin-top: -300px;
    margin-left: 23px;
}
.anli p{
    font-size: 20px;
    line-height: 50px;
    text-decoration: underline dashed 1.5px;
}

.anlit{
    border-top: 1px solid rgb(205, 205, 205);
    height: 400px;
    width: 100%;
}
.anlit img{
    height:300px ;
    width: 280px;
    margin-left: 20px;
    margin-top: 50px;
}
.anlit .wenzi{
    width: 545px;
    height: 400px;
   
    margin-top: -300px;
    margin-left: 320px;
}
.anlit p{
    font-size: 20px;
    line-height: 50px;
    text-decoration: underline dashed 1.5px;
}
/* 底部 */
.bo{
    width: auto;
    height: 215px;
    background-color: rgba(0, 0, 0, 0.815);
    box-sizing: border-box;
    padding-top: 70px;
}
.bo .tit{
    width: 700px;
    height: 40px;
    margin-left: 190px;
}
.bo .tit a{
    color: white;
    padding-right: 12px;
}
.bo .add{
    width: 500px;
    height: 40px;
    margin-left: 170px;
    margin-top: 10px;
}
.bo .add p{
    color:rgb(164, 165, 162);
    padding-bottom: 19px;
    font-size: 15px;
}
.bo .co{
    width: 110px;
    height: 110px;
    margin-top: -90px;
    margin-left: 1200px;
}
.bo .co img{
    height: 100%;
}
.bo .t{
    width: 80px;
    height: 80px;
    margin-top: -90px;
    margin-left: 1080px;
}

.bo .t p{
    color:white;
    padding-bottom: 19px;
}
/* 底部结束 */