@import "reset.css";
@import "common.css";

body{
    width: 100%;
    min-width: 1500px;
}
/* 头部 */
.header .container{
    width: auto;
    height: 130px;
}
.header .container .shangbu{
    background-color:  rgb(80, 134, 46);
    width: auto;
    height: 40px;
}

.header .container .shangbu .huanying a span.guanwang{
    color: aliceblue;
    display:block;
    margin-top: 10px;
    margin-left:70px;
}
.header .container .shangbu .dianhua a span.rexian{
    color: aliceblue;
    display:block;
    margin-top: 10px;
    margin-right:70px;
}

.header .container .xiabu {
    width:auto;
    height:90px;
    background-color: #00000000;
    box-sizing: border-box;
}
.header .container .xiabu span{
    display: block;
}

.header .container .xiabu .gongsibiao img{
    width:50px;
    height:50px;
    margin-left: 50px;
    margin-top: 20px;
}

.header .container .xiabu .mingzi{
    margin-left: 100px;
    margin-top:-40px;
}

.header .container .xiabu .mingziying{
    margin-left: 100px;
    margin-top:1px;
    font-size:3px;
}

.header .container .menu{
    width: 270px;
    height: 20px;
}
.header .container .menu a{
    float:left;
}

.header .container .menu span{
    font-size: larger;
    display: block;
}

.header .container .menu .menu-firstpage{
    width: 80px;
    height: 20px;
    float:left;
    margin-left: -800px;
    margin-top:-50px;
}

.header .container .menu .menu-us{
    width: 80px;
    height: 20px;
    float:left;
    margin-left: -690px;
    margin-top:-50px;
}
.header .container .menu .menu-center{
    width: 80px;
    height: 20px;
    float:left;
    margin-left: -580px;
    margin-top:-50px;
    
}
.header .container .menu .menu-case{
    width: 80px;
    height: 20px;
    float:left;
    margin-left: -470px;
    margin-top:-50px;
}
.header .container .menu .menu-purchase{
    width: 80px;
    height: 20px;
    float:left;
    margin-left: -360px;
    margin-top:-50px;
}
.header .container .menu .menu-contact{
    width: 80px;
    height:20px;
    float:left;
    margin-left: -250px;
    margin-top:-50px;
}
.header .container .menu a img{
    width:85px;
    height:45px;
    margin-top:-50px;
}
.header .container .menu a:hover span{
    color:#00000031;
}
/* 头部结束 */
.big{
    margin: 0;
    width: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppons',sans-serif;
    background: rgb(240, 241, 240);
    height: 596px;
}

section{
    position:relative;
    justify-content: center;
    align-items: center;
    min-height: 79vh;
    background: rgb(240, 241, 240);
    display: flex;
    width: auto;
    height: 540px;
}
section::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:50%;
    height: 540px;
    background: rgb(240, 241, 240);
}
section .container{
    position:relative;
    min-width:1100px;
    min-height: 550px;
    display:flex;
    z-index:1000;
    margin-top: 60px;
    margin-left: 350px;
    height: 540px;
}
/* 左侧 */
section .container .contactinfo{
    position:absolute;
    top: 8px;
    width:350px;
    height:405px;
    background: rgb(91, 121, 95);
    z-index: 1;
    padding: 40px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2);
    margin-left: 50px;
}
section .container .contactinfo h2{
    color: white;
    font-size: 24px;
    font-weight: 500;
}
section .container .contactinfo .info{
    position: relative;
    margin: 30px 0;
}
section .container .contactinfo .info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor:pointer;
    align-items:flex-start;
}
section .container .contactinfo .info li span:nth-child(1){
   width:30px;
   min-width:30px;
}
section .container .contactinfo .info li span:nth-child(1) img{
    max-width:100%;
    filter: invert(1);
    opacity:0.5;

}
section .container .contactinfo .info li span:nth-child(2){
    color: white;
    margin-left: 10px;
    font-weight: 300;
    opacity:0.5;
 }
 
 section .container .contactinfo .info li:hover span:nth-child(1) img,section .container .contactinfo .info li:hover span:nth-child(2){
    opacity:1;
 }
 section .container .contactinfo .sci{
    position: relative;
    display: flex;
 }
 section .container .contactinfo .sci li{
    list-style: none;
    margin-right: 15px;
 }
 section .container .contactinfo .sci li a{
    text-decoration: none;
 }
 section .container .contactinfo .sci li a img{
    filter: invert(1);
    opacity: 0.5;
    width: 30px;
 }
 section .container .contactinfo .sci li:hover a img{
    opacity: 1;
 }
 /* 白色 */
 section .container .contactform{
    position: absolute;
    padding: 70px 50px;
    background: white;
    margin-left: 300px;
    padding-left: 250px;
    width: 400px;
    height:360px;
    box-shadow: 0 50px 50px rgba(0,0,0,0.5);
}
section .container .contactform h2{
    color:#00000000;
    font-size: 24px;
    font-weight: 500;
}
section .container .contactform .formBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
section .container .contactform .formBox .inputBox{
    position: relative;
    margin: 0 0 35px 0;
}
section .container .contactform .formBox .inputBox .w50{
    width: 47%;
}
section .container .contactform .formBox .inputBox .w100{
    width: 100%;
}
section .container .contactform .formBox .inputBox input,section .container .contactform .formBox .inputBox textarea{
    width: 100% ;
    padding:5px 0;
    resize: none;
    font-size: 3px;
    font-weight: 300;
    color:rgb(10, 10, 10);
    border:none;
    border-bottom: 1px solid rgb(7, 7, 7);
    outline: none;
}
section .container .contactform .formBox .inputBox textarea{
    min-height: 20px;
    width: 400px ;
}
section .container .contactform .formBox .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color:black;
    transition: 0.5s;
    pointer-events: none;
}
section .container .contactform .formBox .inputBox input:focus~span,section .container .contactform .formBox .inputBox textarea:focus~span,section .container .contactform .formBox .inputBox input:valid~span,section .container .contactform .formBox .inputBox textarea:valid~span{
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgb(80, 121, 40);
}
section .container .contactform .formBox .inputBox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background:rgb(80, 121, 40) ;
    color:white;
    border: none;
    max-width: 150px;
    padding: 12px;
}
section .container .contactform .formBox .inputBox input[type="submit"]:hover{
    backgroun:rgb(154, 172, 135);
}
/* 底部 */
/* 底部 */
.bo{
    width: auto;
    height: 215px;
    background-color: rgba(0, 0, 0, 0.815);
    box-sizing: border-box;
    padding-top: 70px;
}
.bo .tit{
    width: 700px;
    height: 40px;
    margin-left: 190px;
}
.bo .tit a{
    color: white;
    padding-right: 12px;
}
.bo .add{
    width: 500px;
    height: 40px;
    margin-left: 170px;
    margin-top: 10px;
}
.bo .add p{
    color:rgb(164, 165, 162);
    padding-bottom: 19px;
    font-size: 15px;
}
.bo .co{
    width: 110px;
    height: 110px;
    margin-top: -90px;
    margin-left: 1200px;
}
.bo .co img{
    height: 100%;
}
.bo .t{
    width: 80px;
    height: 80px;
    margin-top: -90px;
    margin-left: 1080px;
}

.bo .t p{
    color:white;
    padding-bottom: 19px;
}
/* 底部结束 */